﻿<h3>電郵地址</h3>
<p>雖然在註冊時提供的電郵地址是你的第一聯絡電郵地址, 你可擁有多個電郵地址列於網站中。 你可在個人檔案中使用任何一個有效的地址。</p>
<p>如你想新增一個電郵地址, 點擊 <a onclick="email_new(); return false;" href="">新增電郵地址</a>。 你儲存個人檔案後, 訊息會傳送至你的新電郵地址。 點擊訊息中的連結以作生效。</p>
<p><strong>注意:</strong> 電郵中的連結只會在24小時內有效。 之後你必須重覆以上的步驟。</p>
