<h3>標籤</h3>
<p>你可於Mahara裡建立的作品及選集加上標籤。 標籤讓你可在作品及選集加上形容性的標記, 以及建立分類標籤的索引。</p>
<p>如需將多個標籤聯繫於某作品或選集, 請以逗號分隔每個標籤。 舉例來說 – ‘評估, 第二學期, 管理’.</p>
<p>點擊 <b>顯示我的標籤</b> 會產生一列你曾在電子作品集中使用過的標籤及被使用過的次數。  點撃現有的標籤可把它加進你現時建立或編輯的作品或選集的標籤列表。</p>
<p>使用 <b>搜尋我的作品集</b> 你可找到所有跟某個標籤有關的作品或選集, 從而為你的作品集建立歸檔系統或索引。</p>
