﻿<h3>登入</h3>
<p>你的登入資料為註冊時所輸入的用戶名稱及密碼, 或其他由網站管理員所指定的資料。</p>
<p>點擊 <a href="forgotpass.php">密碼提示</a> 以要求重新設定密碼</p>
<p>為安全起見, 在一段閒置時間後, 你將會自動登出系統。你將被要求再次重新登入。</p>
<p><strong>注意:</strong> 此網站要求現行的網頁瀏覽器, 如:Internet Explorer version 6.0, Firefox 1.5, Safari 2, 或Opera 9; 或以上. 如需使用 Mahara, 你的瀏覽器必需能夠使用Cookie。</p>
